*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: #e1e3e6;
}
header{
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}
header nav a{
    color: white;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;

}
.active{
    background: #14ff72cb ;
    border-radius: 2px;
}
a:hover{
    background: #14ff72cb;
    border-radius: 2px;
}

.image{
    height: 70vh;
    width: 100vw;
}
.image img{
    height: 70vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    margin-top: -10vh;
}

.info{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly   ;
}
.free-shipping, .premium, .trust{
    height: 100%;
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    gap: 10px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;

}
.free-shipping i, .premium i, .trust i{
    font-size: 40px;
}
.free-shipping a, .premium a, .trust a{
    text-decoration: none;
    background: none;
    color: black;
    transition:0.3s ease-in-out;
}
.free-shipping:hover, .premium:hover, .trust:hover{
    transform: scale(1.1,1.1);
    
}
.free-shipping a:hover, .premium a:hover, .trust a:hover{
    color: #14ff72cb;

}
.promise{
    text-align: center;
    margin-bottom: 40px;
}


/* _____________section-content___________ */

.women-sec{
    height: 300vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.women-perfume{
    height: 64vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
}
.perfume-card{
    width:200px;
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-bottom: 16px;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.perfume-card:hover{
    transform: scale(1.04, 1.04);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.perfume-card h4{
    text-align: center;
}
.image-card{
    height: 45%;

}
.image-card img{
    height: 100%;
    width: 100%;
}
.star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24px;
}
.small{
    font-size: 12px;
}
.save{
    color: red;
}
.men-tittle{
    margin-top: 80px;
    margin-bottom: 40px;
}
.tittle-one a:hover{
    background: none;
}
.tittle-three a:hover{
    background: none;
}
.rrp{
    font-size: 14px;
    color: gray;
}
.women-brand{
    text-align: center;
    margin: 40px 0;
}