*{
    margin: 0;
    padding: 0;
}
body{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-header{
    display: flex;
    height: 56px;
    width: 100%;
    background: teal;
}
.main-navbar{
    height: 48px;
    width: 100%;
    background: blue;
}
.poster-sec{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 8px;
}
.posters{
    width: 100%;
    display: flex;
    animation: slide 8s infinite;
}
img{
    width: 100%;
    height: 100%;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }

}

/* .poster{
    width: 100%;
    scroll-snap-align: center;
    height: 90%;

}
.poster img{
    width: 100%;
    height: 100%;
} */